@import "settings";
@import "foundation";

// title font: GWF Monteserrat
// body font: GWF Open Sans

body {
    font-family: "Open Sans", sans-serif;
    background-color: $body-bg;
}
// full width row
.full {
    min-width: 100%;
    margin: 0;
    max-height: 700px;
    overflow-y: hidden;
}
// header section
.reachme-container {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin-left: 5%;
    margin-top: 1.5%;

    h1 {
        text-align: right;
        font-size: 2.5em;
        font-weight: 400;
        line-height: 60px;
        color: rgba(255,255,255,1);
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 0;
    }
    h2 {
        display: none;
        text-align: right;
        font-size: 1.5em;
        font-weight: 300;
        color: rgba(255,255,255,1);
        margin-bottom: 45px;
    }
    .header-bar {
        display: none;
    }

    @media #{$small} {
        margin-top: 10%;
        margin-left: 0;

        h1 {
            text-align: right;
            font-size: 3.75em;
        }
        h2 {
            display: block;
        }
        .header-bar {
            display: block;
            margin-left: 0;
        }
    }
}
// divs with depth for social links
.well {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 2px;

    box-shadow: inset 0px -2px 2px 0 rgba(178,189,219,.8),
                inset 0px 2px 2px 0 rgba(88,95,121,1.0),
                inset 2px 0px 2px 0 rgba(129,142,177,.8),
                inset -2px 0px 2px 0 rgba(129,142,177,.8);
    cursor: pointer;
    //temp
    line-height: 40px;
    text-align: center;
    font-size: 1.2em;

    &:hover {
        color: #7882A5;
    }
}
.header-video {
    width: 100%;
    z-index: 0;
}
header.stickybar {
    margin-bottom: 95px;
}
// nav bar styles
.top-bar {
    background-color: rgba(41,54,86,0.75);
    // no sticky styles
    
    @media #{$small} {
        top: -52px;
        margin-bottom: 0;
    }

    &.stickybar {
        position: fixed;
        top: 0;
        z-index: 20;
        width: 100%;
    }
    .row-list {
        @include grid-row();

        .column-list {
            @include grid-column($columns:12, $last-column:true, $center:false, $offset:false, $push:false, $pull:false, $collapse:false, $float:true);
            margin-left: 0;
        }
    }
    .nav-item {
        width: 33.33333%;
        margin-left: 0;

        &:hover {
            box-shadow: inset 0 -6px rgba(64,174,187,.8);
        }
    }
    .nav-item a{
        color: #FFF;
        font-size: 1.1em;
        line-height: 52px;
        text-align: center;
        letter-spacing: 1px;

        &:hover {
            color: #40AEBB;
        }
    }
}
// overrides foundation panel styles
.panel {
    border: $panel-border-size $panel-border-style $panel-border-color;
    box-shadow: 2px 2px 4px 0 $panel-border-color;

    h1 {
        color: $header-font-color;
    }
    h2, h3 {
        color: $body-font-color;
        font-weight: 400;
    }
    p {
       color: $body-font-color; 
    }
    ul > li {
        line-height: 2em;
    }
}
.section1-panel, .section2-panel {
    overflow: hidden;
    background-color: #FFF;
    border-radius: 0;
}
#section1, #section2 {
    margin-bottom: 1em;
}
#section1 {
    h3 {
        margin-top: 100px;
    }
    img {
        width: 350px;
        margin-top:-40px;
    }
}
#section2 {
    h3 {
        margin-top: 80px;
    }
    .text-column {
        z-index: 1;
    }
    img {
        width: 700px;
        margin-left: -100px;
        max-width: none;
        z-index: -1;
    }
}
#section3 {
    background: url("/images/prefooter-bg.jpg");
    height: 450px;
}
footer {
    max-width: 100%;
    background-color: #96A3CD;
    color: #FFF;
    font-weight: 300;

    p {
        font-weight: 300;
    }

    .row > div {
        margin-top: 1.5em;
    }
    .well {            
        margin-bottom: 1em;
    }

    @media #{$small} {
        .well {            
            margin-bottom: 0;
        }
    }
}
